a{
	color: var(--text-color);
	font-weight: 700;
	text-decoration: none;
}

/*
* These styles creates the underlining of link
*/

a{
	position: relative;
	z-index: 1;
	display: inline-flex;
}

a::before{
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #0078ed 10%, rgba(0, 0, 0, 0) 40%);
	
	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;
	
	will-change: width;
	transform: rotate(-2deg);
	transform-origin: left bottom
}

a:hover::before{
	width: 0;
}

/*
* animation styles
*/

a::before{
	transition: width .1s ease-out;
}

a:hover::before{
	transition-duration: .15s;
}