code[class*="language-"],
pre[class*="language-"] {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	color: var(--code-color);
	background: var(--code-bg);
	font-family: Roboto Mono, monospace;
	font-size: 1em;
	line-height: 1.5em;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection {
	background: var(--code-selection-bg); 
	color: var(--code-selection-color);
}

code[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
	background: var(--code-selection-bg);
	color: var(--code-selection-color);
}

:not(pre) > code[class*="language-"] {
	white-space: normal;
	border-radius: 0.2em;
	padding: 0.1em;
}

pre[class*="language-"] {
	overflow: auto;
	position: relative;
	margin: 0.5em 0;
	padding: 1.25em 1em;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
	color: var(--code-css-color);
}

[class*="language-"] .namespace {
	opacity: 0.7;
}

.token.atrule {
	color: var(--code-atrule);
}

.token.attr-name {
	color: var(--code-attr-name);
}

.token.attr-value {
	color: var(--code-attr);
}

.token.attribute {
	color: var(--code-attr);
}

.token.boolean {
	color: var(--code-atrule);
}

.token.builtin {
	color: var(--code-attr-name);
}

.token.cdata {
	color: var(--code-attr-name);
}

.token.char {
	color: var(--code-attr-name);
}

.token.class {
	color: var(--code-attr-name);
}

.token.class-name {
	color: var(--code-class);
}

.token.comment {
	color: var(--code-comment);
}

.token.constant {
	color: var(--code-atrule);
}

.token.deleted {
	color: var(--code-var);
}

.token.doctype {
	color: var(--code-comment);
}

.token.entity {
	color: var(--code-var);
}

.token.function {
	color: var(--code-atrule);
}

.token.hexcode {
	color: var(--code-css-color);
}

.token.id {
	color: var(--code-atrule);
	font-weight: bold;
}

.token.important {
	color: var(--code-atrule);
	font-weight: bold;
}

.token.inserted {
	color: var(--code-attr-name);
}

.token.keyword {
	color: var(--code-atrule);
}

.token.number {
	color: var(--code-css-color);
}

.token.operator {
	color: var(--code-attr-name);
}

.token.prolog {
	color: var(--code-comment);
}

.token.property {
	color: var(--code-attr-name);
}

.token.pseudo-class {
	color: var(--code-attr);
}

.token.pseudo-element {
	color: var(--code-attr);
}

.token.punctuation {
	color: var(--code-attr-name);
}

.token.regex {
	color: var(--code-class);
}

.token.selector {
	color: var(--code-var);
}

.token.string {
	color: var(--code-attr);
}

.token.symbol {
	color: var(--code-atrule);
}

.token.tag {
	color: var(--code-var);
}

.token.unit {
	color: var(--code-css-color);
}

.token.url {
	color: var(--code-var);
}

.token.variable {
	color: var(--code-var);
}