:root {
    --body-bg: #fff;
    --text-color: #000;

    --code-bg: #fafafa;
    --code-color: #90a4ae;
    --code-selection-bg: #cceae7;
    --code-selection-color: #263238;
    --code-css-color: #f76d47;
    --code-atrule: #7c4dff;
    --code-attr-name: #39adb5;
    --code-attr: #f6a434;
    --code-class: #6182b8;
    --code-var: #e53935;
    --code-comment: #aabfc9;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #000;
        --text-color: #fff;
    
        --code-bg: #222;
        --code-color: #eee;
        --code-selection-bg: #363636;
        --code-selection-color: #eee;
        --code-css-color: #fd9170;
        --code-atrule: #c792ea;
        --code-attr-name: #ffcb6b;
        --code-attr: #a5e844;
        --code-class: #ffcb6b;
        --code-var: #ff6666;
        --code-comment: #616161;
    }
}