@import "sanitize";
@import "vars";
@import "prism";
@import "grid";
@import "link";

body {
    font-family: "SF Pro Display",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background: var(--body-bg);
    color: var(--text-color);
    padding-bottom: 10%;
}

code[class*="language-"],
pre[class*="language-"] {
    border-radius: 4px;
    font-size: 1.4rem;
    margin: 0 auto 100px auto;
    max-width: 900px;
}

/* HERO STYLES */
.hero {
    padding: 100px 0 50px 0;

    @media (max-width: 600px) {
        padding: 50px 0;
    }
}

.hero .hero-title {
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 5px;

    @media (max-width: 600px) {
        font-size: 4rem;
    }
}

.hero .hero-subtitle {
    opacity: .7;
    text-align: center;
    font-weight: 400
}

/* GET STARTED STYLES */
.get-started {
    padding: 20px 0 80px 0
}

.get-started .step .step-number {
    text-align: center;
    font-size: 1.5rem;
    width: 3rem;
    line-height: 1.5rem;
    padding: 12px;
    border-radius: 100%;
    background: #0078ed;
    color: #fff;
    display: block;
    font-weight: bold;
    margin: 0 auto
}

.get-started .step .step-title {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 20px
}

.get-started .step .step-content {
    font-size: 1.2rem;
    line-height: 1.9rem
}

.get-started .step .step-content code {
    font-weight: bold;
    background: #fff;
    color: #111;
    padding: 2px 6px;
    border-radius: 4px
}

/* DOCS STYLES */
.docs {
    p {
        font-size: 1.4rem;
    }
}

.browser {
    img {
        max-width: 100%;
    }
}