@font-face {
  font-family: "Inter";
  font-weight: 100;
  src: url(/assets/fonts/Inter-Thin.woff2);
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  src: url(/assets/fonts/Inter-Extralight.woff2);
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url(/assets/fonts/Inter-Light.woff2);
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(/assets/fonts/Inter-Regular.woff2);
}


@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url(/assets/fonts/Inter-Medium.woff2);
}


@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url(/assets/fonts/Inter-SemiBold.woff2);
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url(/assets/fonts/Inter-Bold.woff2);
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url(/assets/fonts/Inter-ExtraBold.woff2);
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url(/assets/fonts/Inter-Black.woff2);
}